body{
	font-family: "Arial";
}

.main_left{
	display: inline-block;
	width: 700px;
}
.main_right{
	display: inline-block;
	vertical-align: top;
}

#welcome{
	font-weight: strong;
	text-align: right;
}
#register_pane{
	display: inline-block;
	width: 400px;
}
.register_right{
	display: inline-block;
	width: 750px;
	text-align: right;
	padding-left: 200px;
}
form{
	display: inline-block;
	vertical-align: top;
	text-align: right;
}
